* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;

}

body {
    font-family: 'Raleway', sans-serif;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.top {
    padding: 40px;
    padding-bottom: 100px;
}

.header {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.orange {
    color: #F25822;
}

.menu {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 40px;
}

.top_content {
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.title {
    color: #000;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.text {
    color: #888;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_buttons {
    margin-top: 52px;
}

.start_link {
    text-decoration: none;
    margin-right: 72px;
    background: #F25822;
    color: #fff;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: 20px solid #F25822
}

.video_link {
    text-decoration: none;
}

.top_logos {
    display: flex;
    justify-content: space-between;
}